.Termsmodal {
  padding: 1em;
  max-width: 50ch;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);
  border-radius: 5%;
  width: 100%;
  background-color: rgb(215, 255, 215);
  &>* {
      margin: 0 0 0.5rem 0;
  }
}

.Termsmodal::backdrop {
  background: rgb(0 0 0 / 0.4);
}


/* extra styling */

body {
  min-height: 100vh;
  margin: 2rem;
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--gray-8);
  // background-image: url('https://images.unsplash.com/photo-1644242629712-943ae5c8c4f3?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0Njc1MjQxNA&ixlib=rb-1.2.1&q=85');
  // background-size: cover;
}

h1 em {
  color: var(--cyan-9);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

form {
  display: grid;
  gap: 1em;
  width: 100%;
  float: left;
  align-items: left;
  align-content: left;
  text-align: left;
}

form>input[type=text] {
  border: 0;
  text-decoration: none;
  border-bottom: 3px;
  background-color: rgb(255, 255, 255);
  height: 3vh;
}

.btn2-group {
  float: left;
  width: 100%;
  bottom: 0px;
  margin-top: 10%;
}

.btn2-group>button {
  width: 49%;
}